
body {
    color: aliceblue;
    font-family: 'Space Grotesk';
    font-size: light;
    
}

.style-navbar{
    background-color: rgb(24, 24, 24);
}

.style-navbar div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.style-present{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.icono {
    color: aliceblue;
}


.style-about {    
    text-align: center;
    font-size: large;
}

.style-card {
    background-color: rgb(24, 24, 24);
    height: 150px;
    width: 150px;
    text-align: center;
    align-items: center;
    color: aliceblue;
}

.style-card img{
    height: 60px;
    width: 60px;
}

.style-experience{    
    background-color:rgb(24, 24, 24) ;
    font-size: large;
}

.experience {
    padding-inline: 15%;
    display: flex;
    justify-content: center;
}


.style-experience img{
    height: 50px;
    width: 50px;
}

.style-portafolio{
    max-width: 600px; 
    max-height: 400px;
   
}

.style-vineta {
    color: rgb(208, 255, 37);
}

.style-border {
    width: 500px;
    text-align: center;
    background-color: rgb(24, 24, 24);
    border: thin inset rgb(208, 255, 37);
    
}

.style-card-contact {
    background-color: rgb(24, 24, 24);
    height: 120px;
    width: 120px;
    text-align: center;
    align-items: center;
    color: aliceblue;
    border: thin inset rgb(208, 255, 37);
}

.style-card i{
    max-height: 60px;
    max-width: 60px;
}

.style-footer {
    background-color: rgb(24, 24, 24);
}

a.d-inline-block {
    align-items: center;
    text-decoration: none;
}