
body {
    color: aliceblue;
}

.style-navbar div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.style-present{
    color: aliceblue;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.style-about{
    color: aliceblue;
    text-align: center;
}

.style-card {
    background-color: rgb(70, 70, 70);
    height: 150px;
    width: 150px;
    text-align: center;
    align-items: center;
    color: aliceblue;
}

.style-card img{
    height: 60px;
    width: 60px;
}

.style-experience{
    
    background-color:rgb(70, 70, 70) ;
}

.experience {
    padding-inline: 15%;
    display: flex;
    justify-content: center;
}


.style-experience img{
    height: 50px;
    width: 50px;
}

